@import "tailwindcss";

@theme {
  /* Primary - Emerald: CTAs, success states, links */
  --color-primary: #15ab5a;

  /* Accent/Danger - Crimson: Errors, alerts, highlights */
  --color-danger: #df4444;

  /* Surface/Light - Lavender Mist: Cards, highlights, tags */
  --color-surface: #f0d3f7;

  /* Secondary - Purple Haze: Secondary buttons, text */
  --color-secondary: #302f4d;

  /* Dark/Background - Deep Violet: Dark mode, headers, footers */
  --color-dark: #120d31;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-surface);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  color: var(--color-surface);
  cursor: pointer;
  transition: opacity 0.25s;
}
button:hover {
  opacity: 0.9;
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
